<h2>Show Follow</h2>

<ul>

  <li>
    <strong>Count:</strong>
    <%= @follow.count %>
  </li>

</ul>

<span><%= link "Edit", to: follow_path(@conn, :edit, @follow) %></span>
<span><%= link "Back", to: follow_path(@conn, :index) %></span>
